<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>Register.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Verify</display-name>
    <servlet-name>Verify</servlet-name>
    <servlet-class>Verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayInfo</display-name>
    <servlet-name>DisplayInfo</servlet-name>
    <servlet-class>DisplayInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayInfo</servlet-name>
    <url-pattern>/DisplayInfo</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookIssue</display-name>
    <servlet-name>BookIssue</servlet-name>
    <servlet-class>BookIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookIssue</servlet-name>
    <url-pattern>/BookIssue</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ReturnBook</display-name>
    <servlet-name>ReturnBook</servlet-name>
    <servlet-class>ReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AdminRequest</display-name>
    <servlet-name>AdminRequest</servlet-name>
    <servlet-class>AdminRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRequest</servlet-name>
    <url-pattern>/AdminRequest</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
</web-app>